.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 2%;
  }
  
  .header-link {
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #5a7c3e; 
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .header-link:hover {
    background-color: #142714;
  }
  